/node_modules
/public/favicon.ico
/public/assets/
/public/robots.txt
/public/sitemap.xml
/public/storage
/public/.well-known
/storage/*.key
/vendor
/.idea
/data
/template
/projectFilesBackup
.env
_ide_helper.php
.phpstorm.meta.php
.DS_Store
public/mix-manifest.json
storage/page-cache/*
routes/front-end.php
routes/redirects.php
package-lock.json
docker/docker-compose.override.yml
storage/logs.tar.bz2
